# Project exclude paths
/data-core/target/
/data-dao/target/
/data-service/target/
/bigdata-spring.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/sbt.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/data-service/dependency-reduced-pom.xml
/app_home/lib/data-service-1.0-SNAPSHOT.jar
